body {
  font-family: 'PT Sans', sans-serif;
}

.navHeader {
  display: flex;
}

.getInvolved {
  color: #0B1942;
}
.logo-container {
  background-color: #F5005B;
  float: left;
  height: 150px;
  width: 180px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.filmClubLogo {
  height: 120px;
  width: 110px;
}
.linksTop {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.linksTop a {
  display: flex;
  text-decoration: none;
  flex: 1 100%;
  justify-content: center;
  align-items: center;
}

.homeLink {
  color: white;
  background-color: #00A5BF;
}
.calendarLink {
  color: white;
  background-color: #00B7D3;
}
.joinLink {
  color: white;
  background-color: #00D5E7;
}

.topSection {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.titleSection {
  background-color: #0B1942;
  color: #FFFFFF;
}

.paragrapgh {
  color: #0B1942;
}

.upNextHeader {
  color: white;
  margin-left: 10%;
}

.upNextForeground {
  display: flex;
  flex-wrap: wrap;
  background-color: #E2E2E2;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

.upNextSection {
  background-color: #0B1942;
}

.needsAbottomBorder {
  border-bottom: 1px solid black;
}

.bold {
  font-weight: bold;
}

.youTube {
  color: #00B7D3;
  font-size: 15px;
}

.medium {
  font-size: 1.5rem;
}

.upNextForeground-child {
  width: 50%;
}

.image-parent {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.upNextForeground-child-image {
  width: 100%;
  padding: 5px;
}

.discussionList {
  padding-left: 25px;
}

.spacer {
  width: calc(50% - 5px - 5px);
  margin: auto;
  margin-top: 16px;
  margin-bottom: 0;
}

.bullet-points {
  margin-bottom: 11px;
}

.restofPosters {
  display: flex;
  flex-wrap: wrap;
  background-color: #E2E2E2;
  margin: 0 10% 5% 10%;
  padding: 5%;
}

.poster-container {
  display: flex;
  flex-wrap: wrap;
  color: #0B1942;
}

.poster-container > * {
  flex: 1 50%;
  box-sizing: border-box;
  padding: 1rem;
}

.poster-container img {
  width: 100%;
  height: auto;
}

.linksBottom {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.linksBottom a {
  display: flex;
  text-decoration: none;
  flex: 1 100%;
  justify-content: center;
  align-items: center;
}

.copyRight {
  background-color: #7DDFE8;
  width: 100%;
  margin: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
}

footer {
  width: 100%;
  /*border: 5px solid pink;*/
}
.navFooter {
  display: flex;
}

.links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.link {
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a {
  text-decoration: none;
  color: white;
}

.link__home {
  background-color: #00A5BF;
}

.link__calendar {
  background-color: #00B7D3;
}

.link__join {
  background-color: #00D5E7;
}

/*Join - CSS*/

.profilePictureText {
  margin-bottom: 0;
}

.placeholder-photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 20rem;
  border-radius: 50%;
  align-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.genres {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 1rem;
}

.checkboxes {
  line-height: 50px;
}

textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.additional {
  margin: 0 20px;
}

.joinButton {
  background-color: #F5005B;
  height: 70px;
  width: 115px;
  margin: 0 0 50px 20px;
  color: white;
  border: 0;
}

/*Calendar - CSS*/

.calendar {
  background-color: #0B1942;
}

.monthOfJune {
  color: white;
  background-color: #0B1942;
  list-style-type: none;
  margin: 5px 0 5px 5px;
}

.days ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  color: white;
  background-color: #0B1942;
  margin: 0;
  text-align: center;
  padding: 0;
}

.calendarNumbers {
  width: 73px;
  height: 70px;
  background-color: white;
  border: 1px solid #0B1942;
}

.calendarDays {
  background-color: #0B1942;
  /*border: 1px solid green;*/
  width: 20px;
  padding: 7px;
}
.special {
  width: 73px;
  height: 70px;
  background-color: #F5005B;
  border: 1px solid #0B1942;
}
