body {
	font-family: 'PT Sans', sans-serif;
}

.navHeader {
	display: flex;
}

.getInvolved {
	color: #0B1942;
}

.filmClubLogo {
	background-color: #F5005B;
	float: left;
}
.linksTop {
	display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.linksTop a {
	display: flex;
  text-decoration: none;
  flex: 1 100%;
	justify-content: center;
	align-items: center;
}

.homeLink {
	color: white;
	background-color: #00A5BF;
	
}
.calendarLink {
	color: white;
	background-color: #00B7D3;
}
.joinLink {
	color: white;
	background-color: #00D5E7;
}

.topSection {
	/*border: 5px solid pink;*/
	margin: 0 10%;
}

.titleSection {
	background-color: #0B1942;
	color: #FFFFFF;
}

.paragrapgh {
	color: #0B1942;
}

.upNextHeader {
	color: white;
	margin-left: 10%;
}

.upNextForeground {
	display: flex;
	flex-wrap: wrap;
	/*border: 5px solid red;*/
	background-color: #E2E2E2;
	/*margin: 0 10%;*/
	/*margin-bottom: 5%;*/
	/*padding: 5%;*/
	width: 80%;
	margin: auto;
	margin-bottom: 2rem;
}

.upNextSection {
	 background-color: #0B1942;
 }

 .needsAbottomBorder {
	 border-bottom: 1px solid black;
 }

 .bold {
	 font-weight: bold; 
 }

 .youTube {
	 color: #00B7D3;
 }

 .medium {
	 font-size: 1.5rem;
 }

.upNextForeground-child {
	width: 50%;
}

.image-parent {
	width:80%;
	margin: auto;
	margin-top: 1rem;
}

.upNextForeground-child-image {
	width: 100%;
	padding: 5px;
}

.discussionList {
	padding-left: 25px;
}

.spacer {
	width: calc(50% - 5px - 5px);
	margin: auto;
	margin-top: 16px;
	margin-bottom: 0;
}

li {
	margin-bottom: 11px;
}

.restofPosters {
	display: flex;
	flex-wrap: wrap;
	/*border: 5px solid green;*/
	background-color: #E2E2E2;
	margin: 0 10%;
	padding: 5%;
}
 

.linksBottom {
	display: flex;
  flex: 1;
  flex-wrap: wrap;
}

 .linksBottom a{
	text-decoration: none;
  flex: 1 100%;
	justify-content: center;
	border: 5px solid red;
}

 .copyRight {
	 background-color: #7DDFE8;
	 width: 100%;
 }

footer{
	width: 100%;
	border: 5px solid pink;
}
 .navFooter {
	 border: 5px solid orange;
 }

 /*Join - CSS*/

 .placeholder-photo {
	 height: 20rem;
	 border-radius: 50%;
 }

 